<ion-view>
  <ion-nav-title>
    Edit {{ctrl.milestoneModel.title}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="ctrl.save()">Save</button>
  </ion-nav-buttons>
  <ion-content>

    <div class="main-panel" ng-include src="'templates/modify-milestone.html'"></div>

  </ion-content>

  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="ctrl.displayTab='details'" ng-class="{'selected': ctrl.displayTab === 'details'}">
      <i class="icon ion-clipboard"></i>
      Details
    </a>
    <a class="tab-item" ng-click="ctrl.displayTab='images'" ng-class="{'selected': ctrl.displayTab === 'images'}">
      <i class="icon ion-images"></i>
      Images
    </a>
    <a class="tab-item" ng-click="ctrl.displayTab='video'" ng-class="{'selected': ctrl.displayTab === 'video'}">
      <i class="icon ion-videocamera"></i>
      Videos
    </a>
  </div>

</ion-view>