<ion-view view-title="Edit Milestone">
  <ion-content>

    <div class="main-panel" ng-include src="'templates/modify-milestone.html'"></div>

    <button class="button button-block button-positive" ng-click="ctrl.save()">
      Update
    </button>

  </ion-content>

  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="ctrl.displayTab='details'" ng-class="{'selected': ctrl.displayTab === 'details'}">
      <i class="icon ion-clipboard"></i>
      Details
    </a>
    <a class="tab-item" ng-click="ctrl.displayTab='images'" ng-class="{'selected': ctrl.displayTab === 'images'}">
      <i class="icon ion-images"></i>
      Images
    </a>
    <a class="tab-item" ng-click="ctrl.displayTab='video'" ng-class="{'selected': ctrl.displayTab === 'video'}">
      <i class="icon ion-videocamera"></i>
      Videos
    </a>
  </div>

</ion-view>