



<div ng-show="ctrl.displayTab === 'details'">
  <label class="item item-input item-select">
    <span class="input-label">Type</span>
    <select ng-model="ctrl.milestoneModel.type">
      <option>Firsts</option>
      <option>Happy Moment</option>
      <option>Event</option>
    </select>
  </label>
  <label class="item item-input">
    <input type="text" ng-model="ctrl.milestoneModel.title" placeholder="Title">
  </label>
  <label class="item item-input">
    <input type="date" ng-model="ctrl.milestoneModel.date" placeholder="Date">
  </label>
  <label class="item item-input">
    <textarea ng-model="ctrl.milestoneModel.description" placeholder="Description"></textarea>
  </label>



</div>

<div ng-show="ctrl.displayTab === 'images'">
  <div class="list">

    <div class="image-list image-list-with-indicators">
      <ul rn-carousel rn-carousel-index="ctrl.carouselIndex" ng-show="ctrl.milestoneModel.images && ctrl.milestoneModel.images.length > 0">
        <li ng-repeat="image in ctrl.milestoneModel.images">
          <img ng-src="{{image.src}}" title="{{image.title}}">
        </li>
      </ul>
      <div rn-carousel-indicators ng-show="ctrl.milestoneModel.images.length > 1" slides="ctrl.milestoneModel.images" rn-carousel-index="ctrl.carouselIndex"></div>
    </div>


    <label class="item item-input">
      <span class="input-label">Caption</span>
      <input type="text" ng-model="ctrl.milestoneModel.images[ctrl.carouselIndex].title">
    </label>
    <label class="item item-input">
      <span class="input-label">Is Album Default</span>

      <label class="toggle">
        <input type="checkbox" ng-model="ctrl.milestoneModel.images[ctrl.carouselIndex].isDefault" ng-change="ctrl.defaultImageChanged(ctrl.carouselIndex)">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>

        <!--<input type="checkbox" ng-model="ctrl.milestoneModel.images[carouselIndex].isDefault">-->

    </label>
  </div>


  <!--<label class="item item-input item-stacked-label">
    <span class="input-label">Images</span>
    <div class="image-list">
      <ul rn-carousel rn-carousel-index="carouselIndex">
        <li ng-repeat="image in ctrl.milestoneModel.images">
          <img ng-src="{{image.src}}" title="{{image.title}}">
          <input type="text" ng-model="image.title" placeholder="Caption">

          <span class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox" ng-model="image.isDefault">
            </label>
            Is Default?
          </span>

        </li>
      </ul>
      <div rn-carousel-indicators ng-if="ctrl.milestoneModel.images.length > 1" slides="ctrl.milestoneModel.images" rn-carousel-index="carouselIndex"></div>
    </div>
  </label>
-->



<!--  <img ng-src="imgUri">
  <button class="button button-dark" ng-click="ctrl.takePicture()">
    Take Picture
  </button>-->

  <input type="text" ng-model="ctrl.newImageUrl" placeholder="Image URL">
  <button class="button" ng-click="ctrl.addPictureUrl()">
    Add Picture
  </button>

</div>

