<div>
  <label class="item item-input item-select">
    <span class="input-label">Type</span>
    <select ng-model="milestoneModel.type">
      <option>Firsts</option>
      <option>Happy Moment</option>
      <option>Event</option>
    </select>
  </label>
  <label class="item item-input">
    <input type="text" ng-model="milestoneModel.title" placeholder="Title">
  </label>
  <label class="item item-input">
    <input type="date" ng-model="milestoneModel.date" placeholder="Date">
  </label>
  <label class="item item-input">
    <textarea ng-model="milestoneModel.description" placeholder="Description"></textarea>
  </label>
</div>