@media all and (orientation:portrait) {
  .full-size-image {
    width: 100%;
  }
}
@media all and (orientation:landscape) {
  .full-size-image {
    height: 100%;
    max-width: inherit !important;
  }
}

.milestone-type {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  border-radius: 50%;
  font-size: 30pt;
}

ion-item a span {
  padding-left: 5px;
}

figcaption {
  text-align: center;
  margin-top: 8px;
  font-style: italic;
}

.image-list {
  height:250px;
  text-align: center;
  background-color: #f4f4f4;
}

.image-list-with-indicators ul {
  height: calc(100% - 30px) !important;
}

.image-list-with-indicators img {
  max-height: 250px;
}

.image-list ul {
  height: 100%;
}

.scroll {
  height: 100%;
}

.tabs .selected {
  color: #387ef5;
}

.main-panel {
  height: calc(100% - 110px);
}

.back-button {
  color: #387ef5 !important;
}

.item-content {
  background-color: #F3F7FC !important;
}

/** Icon colors **/
.ion-arrow-graph-up-right {
  color: rgb(2, 184, 52);
}

.ion-calendar {
  color: rgb(237, 107, 127);
}

.ion-happy {
  color: rgb(231, 231, 17);
}

.ion-ribbon-a {
  color: gold;
}


.milestone-picture {
  max-width: 100%;
  max-height: 100%;
}
